@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Body de manera General */
.body {
  font-family: 'Mukta', sans-serif;
  background: #0e0900;
  background: linear-gradient(90deg, #0e0900 0%, #fc0303 0%, #fcb045 100%);
}

/* Main de manera general */
.main {
  margin-top: 180px;
  min-height: 100vh;
}

/* estilos Header */
.encabezado {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  padding: 20px;
  width: 100%;
  height: 180px;
  z-index: 100000;
  justify-content: space-between;
}

.encabezado .encabezado__logo {
  height: 120px;
  width: 120px;
  align-items: center;
  border-radius: 64px;
}

.encabezado .encabezado__navegacion {
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 32px;
  gap: 1.5rem;
  align-items: center;
}

.encabezado .encabezado__navegacion--texto {
  color: #f5a30c;
}

/* Estilos Footer */
.footer {
  width: 100%;
  height: 200px;
  background-color: black;
  padding: 20px;
  color: #f5a30c;
  position: relative;
  margin-top: 200px;
}

.footer .footer__pie {
  display: flex;
  flex-direction: row;
  color: #f5a30c;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
}

.footer .footer__nav {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #f5a30c;
  justify-content: center;
  gap: 2rem;
  border-bottom: solid 3px #f5a30c;
}

.footer .footer__info {
  display: flex;
  flex-direction: column;
  order: -1;
}

.footer .footer__logo {
  width: 200px;
  height: 150px;
}

/* Estilos Index */
.presentacion {
  width: 100%;
  background: #0e0900;
  background: linear-gradient(90deg, #0e0900 0%, #fc0303 0%, #fcb045 100%);
  height: 780px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.presentacion .presentacion__slogan {
  font-size: 48px;
  color: black;
  text-align: left;
  padding: 40px;
  animation-name: efecto;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.presentacion .presentacion__link {
  text-decoration: none;
  width: 200px;
  margin: 75px 40px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 3px solid white;
  transition: all 2s;
}

.presentacion .presentacion__link:hover {
  background-color: aliceblue;
}

.seccionImagenes {
  height: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img1 img2 img3"  "img1 img2 img4";
}

.seccionImagenes__imagen1 {
  grid-area: img1;
  width: 100%;
  height: 100%;
}

.seccionImagenes__imagen2 {
  grid-area: img2;
  width: 100%;
  height: 100%;
}

.seccionImagenes__imagen3 {
  grid-area: img3;
  width: 100%;
  height: 100%;
}

.seccionImagenes__imagen4 {
  grid-area: img4;
  width: 100%;
  height: 100%;
}

.bootstrap1 {
  margin: 15rem 4rem;
}

.bootstrap1__titulo {
  text-align: center;
  margin-bottom: 2rem;
}

@keyframes efecto {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Estilos , contacto y presupuesto */
.form {
  margin: 32px;
  padding: 32px;
}

.form .form__campos {
  margin: 16px;
  color: lightslategray;
}

.boton {
  padding: 8px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  background-color: black;
  border: 4px solid #f5a30c;
}

.label {
  margin: 10px;
}

.input {
  border: 2px solid #f5a30c;
  padding: 3px;
}

.mapa {
  background-position: cover;
  width: 100%;
  height: 400px;
}

/* Estilos , contacto y presupuesto */
.form {
  margin: 32px;
  padding: 32px;
}

.form__campos {
  margin: 16px;
  color: lightslategray;
}

.boton {
  padding: 8px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  background-color: black;
  border: 4px solid #f5a30c;
}

.label {
  margin: 10px;
}

.input {
  border: 2px solid #f5a30c;
  padding: 3px;
}

/* Estilos productos y servicios */
.productos {
  padding: 80px;
  display: grid;
  align-items: center;
  justify-content: left;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "titulo1 contenido1 contenido2 contenido3" "titulo2 contenido4 contenido5 no" "titulo3 contenido6 contenido7 no";
}

.productos__titulo {
  font-size: 24px;
  color: #f5a30c;
}

.productos__titulo1 {
  grid-area: titulo1;
}

.productos__titulo2 {
  grid-area: titulo2;
}

.productos__titulo3 {
  grid-area: titulo3;
}

.productos__contenido {
  width: 300px;
}

.productos__contenido1 {
  grid-area: contenido1;
}

.productos__contenido2 {
  grid-area: contenido2;
}

.productos__contenido3 {
  grid-area: contenido3;
}

.productos__contenido4 {
  grid-area: contenido4;
}

.productos__contenido5 {
  grid-area: contenido5;
}

.productos__contenido6 {
  grid-area: contenido6;
}

.productos__contenido7 {
  grid-area: contenido7;
}

.seccionProductos__img {
  margin: 12px;
  border: 3px solid black;
}

/* Estilos, empresa */
.seccionEmpresa {
  margin: 32px;
  text-align: center;
}

.seccionEmpresa_lista {
  list-style: none;
}

.tituloEmpresa {
  font-size: 48px;
  text-align: center;
  color: #f5a30c;
  font-weight: bold;
}

.seccionEmpresa__subtitulo {
  font-size: 32px;
  font-weight: bold;
}

.seccionEmpresa__subtitulo2 {
  font-size: 20px;
  color: #f5a30c;
}

/* Versión Mobile */
@media screen and (max-width: 599px) {
  .presentacion__parrafo {
    display: none;
  }
  .productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10 200px);
    grid-template-areas: "titulo1" "contenido1" "contenido2" "contenido3" "titulo2" "contenido4" "contenido5" "titulo3" "contenido6" "contenido7";
  }
  .seccionImagenes {
    display: grid;
  }
  .encabezado {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 425px;
    margin-bottom: 300px;
  }
  .encabezado__navegacion {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }
  .encabezado__logo {
    padding: 16px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .paginas {
    border-bottom: solid 2px white;
  }
  .seccionImagenes {
    display: none;
  }
  .presentacion {
    margin-top: 400px;
    margin-bottom: 0px;
  }
  .footer {
    flex-direction: row;
    flex-wrap: nowrap;
    height: 300px;
  }
  .footer__pie {
    font-size: 12px;
    padding: 32px;
  }
}
