/* Versión Mobile */


@media screen and (max-width: 600px) {

    .body{
      height: 100%;
    }

    .main{

      min-height: 100%;
    }

    .presentacion__slogan{
      font-size: 32px;
    }

    .presentacion__parrafo{

        display: none;
    }

    .productos{

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10 200px);
        grid-template-areas: 
        "titulo1"
        "contenido1"
        "contenido2"
        "contenido3"
        "titulo2"
        "contenido4"
        "contenido5"
        "titulo3"
        "contenido6"
        "contenido7"
       ;

    }
    
    .seccionImagenes{

        display: grid;
    }

    .encabezado {

        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 300px ;
        
    }


    .encabezado__navegacion {

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        
  }

  .encabezado__logo{

    padding: 16px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


  }

  .encabezado__icono{

    
    color: rgb(245, 163, 12);
    }

  .paginas__icono{

    display: flex;
    padding: 0rem 3rem;
  }
    
  
  .paginas {

    border-bottom: solid 2px white ;
    display: none;
  }

  .seccionImagenes{

    display: none;
  }

  .presentacion{

    margin-top: 400px;
    margin-bottom: 0px;
  }

  .footer{
    
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    
  }

  .footer__pie{

    font-size: 12px;
    padding: 32px;
  }

}